.Button {
  padding         : 5px 10px;
  font-family     : 'Montserrat', sans-serif;
  font-size       : 14px;
  font-weight  : 500;
  color           : #ffffff;
  background-color: #3AAF3C;
  border          : none;
  border-radius   : 5px;
  cursor          : pointer;
  transition      : all 0.3s ease;

  &:hover {
    background-color: #52c954;
  }

  &_blocked {
    background-color: lightgray;

    &:hover {
      background-color: grey;
    }
  }
}