.Button {
  padding         : 5px 10px;
  font-family     : 'Roboto', sans-serif;
  font-size       : 16px;
  color           : #ffffff;
  background-color: #3AAF3C;
  border          : none;
  border-radius   : 5px;
  cursor          : pointer;
  transition      : all 0.3s ease;

  &:hover {
    opacity: 0.9;
  }
}