.ToDoList {
  font-family: 'Montserrat', sans-serif;

  &__title-wrapper {
    padding        : 5px 0;
    margin-bottom  : 5px;
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    border-bottom  : 1px solid grey;
  }

  &__title {
    margin   : 0;
    font-size: 20px;
    font-weight: 500;
  }

  &__sort {
    display    : flex;
    align-items: center;

    &-toggle {
      box-sizing   : border-box;
      width        : 10px;
      height       : 10px;
      border-radius: 50%;
      cursor       : pointer;
      transition   : transform 0.5s ease;

      &:not(:last-of-type) {
        margin-right: 3px;
      }

      &:hover {
        transform: translateY(2px);
      }

      &_low {
        background-color: #3AAF3C;
      }

      &_mid {
        background-color: orange;
      }

      &_high {
        background-color: red;
      }

      &_none {
        border: 1px solid black;
      }
    }
  }

  &__list {
    padding   : 0;
    margin    : 0;
    width     : 300px;
    list-style: decimal;
    position  : relative;

    .ToDoList__item {
      box-sizing     : border-box;
      margin-bottom  : 10px;
      padding        : 5px 0;
      padding-right  : 45px;
      width          : 100%;
      position       : relative;
      justify-content: space-between;
      border-bottom  : 2px solid #ffffff;
      transition     : padding 0.3s ease;

      &-text {
        margin       : 0;
        width        : 100%;
        overflow-wrap: anywhere;
      }

      .ToDoList__button {
        width     : 15px;
        height    : 15px;
        position  : absolute;
        top       : 10px;
        cursor    : pointer;
        transition: all 0.2s ease;

        &:hover {
          transform: scale(1.1);
        }

        &:active {
          transform: scale(1);
        }

        &_remove {
          background     : url('../../assets/images/close-cross.svg') no-repeat 50% 50%;
          background-size: cover;
          right          : 0;
        }

        &_done {
          background     : url('../../assets/images/done.svg') no-repeat 50% 50%;
          background-size: cover;
          right          : 20px;
        }
      }

      &:hover {
        padding-bottom: 15px;

        .PriorityPopup {
          height : 10px;
          opacity: 1;
        }
      }

      .PriorityPopup {
        bottom : 0;
        left   : 0;
        height : 0;
        opacity: 0;
      }
    }
  }
}