.ErrorTip {
  box-sizing      : border-box;
  padding         : 5px 15px 5px 0;
  width           : 100%;
  background-color: red;
  border-radius   : 5px;

  &__list {
    font-size: 12px;
    color    : #ffffff
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}