.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}



.edit-zone-enter-active,
.edit-zone-leave-active {
  animation-duration: 1s;
}

.edit-zone-enter-active {
  animation-name           : width-open;
  animation-timing-function: ease-out;
}

.edit-zone-leave-to {
  animation-name           : width-close;
  animation-timing-function: ease-out;
}

@keyframes width-open {
  0% {
    width : 0;
    height: 2px;
  }

  50% {
    width : 100%;
    height: 2px;
  }

  100% {
    width : 100%;
    height: 70vh;
  }
}

@keyframes width-close {
  0% {
    width : 100%;
    height: 70vh;
  }

  50% {
    width : 100%;
    height: 2px;
  }

  100% {
    width : 0%;
    height: 2px;
  }
}