.RegisterForm {
  padding         : 20px 30px 40px;
  min-width       : 20vw;
  display         : flex;
  flex-direction  : column;
  border-radius   : 5px;
  box-shadow      : 0 0 5px 0 lightgray;
  position        : fixed;
  font-family     : 'Montserrat', sans-serif;
  font-size       : 14px;
  background-color: #ffffff;

  &__header {
    margin       : 0;
    margin-bottom: 20px;
    text-align   : center;
    font-weight  : 500;
  }

  &__label {
    margin-bottom : 15px;
    display       : flex;
    flex-direction: column;
    gap           : 5px;

    &:last-of-type {
      margin-bottom: 30px;
    }
  }

  &__input {
    box-sizing   : border-box;
    padding      : 5px;
    border       : 1px solid grey;
    border-radius: 5px;

    &::placeholder {
      color: lightgray;
    }

    &:focus {
      border    : 1px solid rgba(0, 0, 0, 0);
      outline   : none;
      box-shadow: 0 0 5px 0 red;
    }

    &_correct {
      &:focus {
        border    : 1px solid rgba(0, 0, 0, 0);
        outline   : none;
        box-shadow: 0 0 5px 0 #3AAF3C;
      }
    }
  }

  &__to-signin-form {
    font-weight   : 500;
    position      : absolute;
    top           : 15px;
    left          : 15px;
    cursor        : pointer;
    transition    : transform 0.3s ease;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;

    &:hover {
      transform: scale(1.03) translate3d(0, -2px, 0);
    }
  }

  &__control {
    width      : 15px;
    height     : 15px;
    position   : absolute;
    top        : 10px;
    cursor     : pointer;
    transition : transform 0.3s ease;
    will-change: transform;

    &:hover {
      transform: scale(1.07);
    }

    &:active {
      transform: scale(1);
    }
  }

  &__tip-toggle {
    background     : url('../../assets/images/question.svg') no-repeat 50% 50%;
    background-size: cover;
    right          : 30px;
  }

  &__close {
    background     : url('../../assets/images/close-cross.svg') no-repeat 50% 50%;
    background-size: cover;
    right          : 10px;
  }

  .ValidationTip {
    position: absolute;
    top  : 20%;
    left    : 110%;
  }

  .ErrorCover {
    position: absolute;
    top: 0;
    left: 0;
  }
}